:root {
  --primaryDark: #1769aa;
  --primaryAccent: #2196f3;
  --primaryLight: #4dabf5;

  --secondaryDark: #ab003c;
  --secondaryAccent: #f50057;
  --secondaryLight: #f73378;
  /*   color variables */
  --clr-primary: #d0def2;
  --clr-primary-light: #f3f8fe;
  --clr-primary-dark: #a7bad3;
  --clr-gray100: #f9fbff;
  --clr-gray150: #f4f6fb;
  --clr-gray200: #eef1f6;
  --clr-gray300: #e1e5ee;
  --clr-gray400: #767b91;
  --clr-gray500: #4f546c;
  --clr-gray600: #2a324b;
  --clr-gray700: #161d34;

  /*   border radius */
  --radius: 0.2rem;
}

.navbar {
  width: 100%;
  background-color: var(--primaryAccent);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__wrapper {
  width: 95%;
  margin: 0 auto;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.brand__name {
  margin-left: 10px;
  color: #fff;
  font-weight: 700;
}
.navbar__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/**Main UI **/

.main__ui {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 35px auto;
  flex-direction: column;
  align-items: center;
}
.querySection {
  width: 80%;
  display: flex;
  border-radius: 65px;
  flex-direction: row;
  align-items: center;
  background-color: #ffff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.113);
  margin-bottom: 25px;
  justify-content: space-between;
}

.query__section {
  width: 70%;
  border-radius: 5px;
  display: flex;
  height: 48px;
  align-items: center;
  margin: 0 auto;
  background-color: #dadada;
  padding-left: 10px;
  font-size: 18px;
}

.query__section > span {
  font-weight: 300;
}

.sidenav__footer {
  border-radius: 65px;
}

.result__table__section {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Sidebar*/

.sidebar {
  width: 350px;
  background-color: var(--primaryLight);
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 2;
  height: 100%;
  left: -500px;
  transition: all 0.1s ease-in;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.sidebar__enabled {
  left: -5px;
}
.sidebar__options {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.sidenav__option {
  padding: 1.1rem;
  background-color: var(--primaryLight);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.option__active {
  background-color: #161d34;
  color: #fff;
}

.sidenav__option > svg {
  margin-right: 10px;
}

/*SVG FOR EMPTY QUERY*/
.blank__query {
  width: 250px;
}
.centered__ui {
  justify-content: space-between;
  height: 50vh;
}
.centered__ui__extended {
  height: 70vh;
  justify-content: center;
}

/*Edit Fab Button*/
.edit__fab {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

/*Media Queries*/

@media screen and (max-width: 768px) {
  .querySection {
    width: 100%;
  }
  .main__ui {
    align-items: flex-start;
  }
}
