body {
  margin: 0;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark-theme {
  background-color: #262626;
  color: #fff;
  transition: all 0.8s ease-in-out;
}

body.light-theme {
  background-color: #fafafa;
  color: #262626;
  transition: all 0.8s ease-in-out;
}

body.dark-theme .navbar {
  background-color: #f73378;
}

body.dark-theme .MuiFab-primary {
  background-color: #f73378;
}
body.light-theme .MuiFab-primary {
  background-color: #4dabf5;
}
body.dark-theme .sidenav {
  background-color: #ccc;
}

body.dark-theme .query__section {
  background-color: var(--secondaryDark);
}

/* body.dark-theme th {
  background-color: #f73378;
}

body.dark-theme tr:nth-child(even) {
  background-color: var(--secondaryDark);
}

body.dark-theme tr:nth-child(odd) {
  background-color: var(--secondaryAccent);
} */

body.dark-theme .sidebar {
  background-color: var(--secondaryDark);
}
body.dark-theme .sidenav__option {
  background-color: var(--secondaryDark);

  transition: all 0.3s ease-in-out;
}
body.light-theme .sidenav__option {
  background-color: var(--primaryLight);

  transition: all 0.3s ease-in-out;
}
body.light-theme .sidenav__option {
  color: #fff;
  background-color: var(--primaryLight);
}
body.dark-theme .sidenav__option:hover {
  color: #000;
  font-weight: 900;
}
body.light-theme .sidenav__option:hover {
  color: #000;
  font-weight: 900;
}
body.dark-theme .option__active {
  background-color: #161d34;
  color: #fff;
}
body.light-theme .option__active {
  background-color: #161d34;
  color: #fff;
}
body.dark-theme .option__active:hover {
  color: #fff;
  font-weight: 900;
}
body.light-theme .option__active:hover {
  color: #fff;
  font-weight: 900;
}
